DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}

#secret key and algorithm for jvt
SECRET_KEY=
ALGORITHM=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=


REDIS_HOST=
REDIS=
REDIS_PASSWORD=